h1{
font-family: new times roman;
color:skyblue;
}

p{
font-family: new times roman;
font-size: 20px;
}

body{
  text-declaration: underline;
  font-size: 20px;
}

ul{
  list-style:square;
  color: red;
}

ol{
    list-style:square;
  color: red;
}

header{
  font-family: helvetica;
  fontweight: bold;
}

footer {
  font-family: new times roman;
font-size: 20px;
}
